body{

  margin:0;
  text-align: center;/*To position all the components in center*/
 font-family: 'Merriweather', serif;
}
h1{
  margin: 0 20;
  font-family: 'Sacramento', cursive;
}
h2
{
  font-family: 'Montserrat', sans-serif;
}
h3
{
  font-family: 'Montserrat', sans-serif;
}
.top-container{
  background-color: #8EC3B0;
  position: relative;
  padding: 100px;
}

.middle-container{

}
.lower-container{

}
.top-cloud{
  position: absolute;
  top:50px;
  right:300px;
}
.bottom-cloud{
  position: absolute;
  bottom: 400px;
  left: 300px;
}
.contactpage{
  background-color: #90B77D;
}
