body{

  margin:0;
  text-align: center;/*To position all the components in center*/
 font-family: 'Merriweather', serif;
}
h1{
  margin: 35px auto 0 auto;
  font-size: 3.325rem;
  font-family: 'Sacramento', cursive;
  color:#632626;
}
h2
{
  font-family: 'Montserrat', sans-serif;
  color:#632626;
}
h3
{
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  color: #11999E;
}

a{
  color: #11999E;
  text-decoration: none;
  margin:10px 20px;
}

a:hover{
  color:#EAF6F6;
}

hr
{
  border-style: dotted none none none;
  border-color: grey;
  border-width:5px;
  width:8%;
  margin: 100px auto;
}

.top-container{
  background-color: #8EC3B0;
  position: relative;
  padding: 90px;
}

.middle-container{
  margin:100px 0;
}
.bottom-container{
background-color: #8EC3B0;
padding: 30px 0 20px;
}
.top-cloud{
  position: absolute;
  top:40px;
  right:300px;
}
.bottom-cloud{
  position: absolute;
  bottom: 400px;
  left: 200px;
}
.contactpage{
  background-color: #90B77D;
}
.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
}
.experience-row{
  text-align: left;
  width:50%;
  margin: 50px auto 50px auto;
}
.skills-para
{
  text-align: left;
  line-height: 2;
}
.experience-para{
  text-align: left;
  line-height: 2;
}
.code
{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.experience
{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.my-description{
  color: #40514E;
  width:50%;
  margin: auto;
  margin-bottom: 30px;
}
.contact-me
{
  margin-top: 30px;
}
.skills{
  margin-top: 30px;
}
.contact-heading{
  text-align: center;
}
.contact-image
{
  width: 150px;
  float: left;
  margin-right: 30px;
}
.contact-message
{
  width: 40%;
  margin: 40px auto 60px;
}
 .btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #F9F9F9;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright{
  color:#EAF6F6;
  font-size: 0.75em;
padding: 10px 0;
}
